In [2]:
#Importing modules

import pandas as pd
import numpy as np

In [3]:
#Loading datasets

walmart_data = pd.read_csv(r"D:\Woodpecker2024\Walmart Data Analysis and Forcasting.csv")
calendar_data = pd.read_csv(r"D:\Woodpecker2024\calendar.csv")
sales_data = pd.read_csv(r"D:\Woodpecker2024\sales_train_validation.csv")
prices_data = pd.read_csv(r"D:\Woodpecker2024\sell_prices.csv")
sample_data = pd.read_csv(r"D:\Woodpecker2024\sample_submission.csv")
sales_eval_data = pd.read_csv(r"D:\Woodpecker2024\sales_train_evaluation.csv")

In [4]:
#------------UNDERSTANDING DATASET---------------
#Checking rows and colums
print(walmart_data.shape,'\n')
print(calendar_data.shape,'\n')
print(sales_data.shape,'\n')
print(prices_data.shape,'\n')
print(sample_data.shape,'\n')
print(sales_eval_data.shape,'\n')

(6435, 8)

(1969, 14)

(30490, 1919)

(6841121, 4)

(60980, 29)

(30490, 1947)

In [5]:
#Previewing the data
print("Walmart Data:\n", walmart_data.head())
print("Calendar Data:\n",calendar_data.head())
print("Sales Data:\n",sales_data.head())
print("Prices Data:\n",prices_data.head())
print("Sample Data:\n",sample_data.head())
print("Sales Eval Data:\n",sales_eval_data.head())

Walmart Data:
    Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0      1  05-02-2010    1643690.90             0        42.31       2.572
1      1  12-02-2010    1641957.44             1        38.51       2.548
2      1  19-02-2010    1611968.17             0        39.93       2.514
3      1  26-02-2010    1409727.59             0        46.63       2.561
4      1  05-03-2010    1554806.68             0        46.50       2.625

          CPI  Unemployment
0  211.096358         8.106
1  211.242170         8.106
2  211.289143         8.106
3  211.319643         8.106
4  211.350143         8.106
Calendar Data:
          date  wm_yr_wk    weekday  wday  month  year    d event_name_1  \
0  2011-01-29     11101   Saturday     1      1  2011  d_1          NaN
1  2011-01-30     11101     Sunday     2      1  2011  d_2          NaN
2  2011-01-31     11101     Monday     3      1  2011  d_3          NaN
3  2011-02-01     11101    Tuesday     4      2  2011  d_4          NaN
4  2011-02-02     11101  Wednesday     5      2  2011  d_5          NaN

  event_type_1 event_name_2 event_type_2  snap_CA  snap_TX  snap_WI
0          NaN          NaN          NaN        0        0        0
1          NaN          NaN          NaN        0        0        0
2          NaN          NaN          NaN        0        0        0
3          NaN          NaN          NaN        1        1        0
4          NaN          NaN          NaN        1        0        1
Sales Data:
                               id        item_id    dept_id   cat_id store_id  \
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id  d_1  d_2  d_3  d_4  ...  d_1904  d_1905  d_1906  d_1907  d_1908  \
0       CA    0    0    0    0  ...       1       3       0       1       1
1       CA    0    0    0    0  ...       0       0       0       0       0
2       CA    0    0    0    0  ...       2       1       2       1       1
3       CA    0    0    0    0  ...       1       0       5       4       1
4       CA    0    0    0    0  ...       2       1       1       0       1

   d_1909  d_1910  d_1911  d_1912  d_1913
0       1       3       0       1       1
1       1       0       0       0       0
2       1       0       1       1       1
3       0       1       3       7       2
4       1       2       2       2       4

[5 rows x 1919 columns]
Prices Data:
   store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26
Sample Data:
                               id  F1  F2  F3  F4  F5  F6  F7  F8  F9  ...  \
0  HOBBIES_1_001_CA_1_validation   0   0   0   0   0   0   0   0   0  ...
1  HOBBIES_1_002_CA_1_validation   0   0   0   0   0   0   0   0   0  ...
2  HOBBIES_1_003_CA_1_validation   0   0   0   0   0   0   0   0   0  ...
3  HOBBIES_1_004_CA_1_validation   0   0   0   0   0   0   0   0   0  ...
4  HOBBIES_1_005_CA_1_validation   0   0   0   0   0   0   0   0   0  ...

   F19  F20  F21  F22  F23  F24  F25  F26  F27  F28
0    0    0    0    0    0    0    0    0    0    0
1    0    0    0    0    0    0    0    0    0    0
2    0    0    0    0    0    0    0    0    0    0
3    0    0    0    0    0    0    0    0    0    0
4    0    0    0    0    0    0    0    0    0    0

[5 rows x 29 columns]
Sales Eval Data:
                               id        item_id    dept_id   cat_id store_id  \
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id  d_1  d_2  d_3  d_4  ...  d_1932  d_1933  d_1934  d_1935  d_1936  \
0       CA    0    0    0    0  ...       2       4       0       0       0
1       CA    0    0    0    0  ...       0       1       2       1       1
2       CA    0    0    0    0  ...       1       0       2       0       0
3       CA    0    0    0    0  ...       1       1       0       4       0
4       CA    0    0    0    0  ...       0       0       0       2       1

   d_1937  d_1938  d_1939  d_1940  d_1941
0       0       3       3       0       1
1       0       0       0       0       0
2       0       2       3       0       1
3       1       3       0       2       6
4       0       0       2       1       0

[5 rows x 1947 columns]

In [6]:
#Checking datatypes
print(walmart_data.dtypes,'\n')
print(calendar_data.dtypes,'\n')
print(sales_data.dtypes,'\n')
print(prices_data.dtypes,'\n')
print(sample_data.dtypes,'\n')
print(sales_eval_data.dtypes,'\n')

Store             int64
Date             object
Weekly_Sales    float64
Holiday_Flag      int64
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
dtype: object

date            object
wm_yr_wk         int64
weekday         object
wday             int64
month            int64
year             int64
d               object
event_name_1    object
event_type_1    object
event_name_2    object
event_type_2    object
snap_CA          int64
snap_TX          int64
snap_WI          int64
dtype: object

id          object
item_id     object
dept_id     object
cat_id      object
store_id    object
             ...
d_1909       int64
d_1910       int64
d_1911       int64
d_1912       int64
d_1913       int64
Length: 1919, dtype: object

store_id       object
item_id        object
wm_yr_wk        int64
sell_price    float64
dtype: object

id     object
F1      int64
F2      int64
F3      int64
F4      int64
F5      int64
F6      int64
F7      int64
F8      int64
F9      int64
F10     int64
F11     int64
F12     int64
F13     int64
F14     int64
F15     int64
F16     int64
F17     int64
F18     int64
F19     int64
F20     int64
F21     int64
F22     int64
F23     int64
F24     int64
F25     int64
F26     int64
F27     int64
F28     int64
dtype: object

id          object
item_id     object
dept_id     object
cat_id      object
store_id    object
             ...
d_1937       int64
d_1938       int64
d_1939       int64
d_1940       int64
d_1941       int64
Length: 1947, dtype: object

In [7]:
#Summary
print(walmart_data.describe())
print(calendar_data.describe())
print(sales_data.describe())
print(prices_data.describe())
print(sample_data.describe())
print(sales_eval_data.describe())

             Store  Weekly_Sales  Holiday_Flag  Temperature   Fuel_Price  \
count  6435.000000  6.435000e+03   6435.000000  6435.000000  6435.000000
mean     23.000000  1.046965e+06      0.069930    60.663782     3.358607
std      12.988182  5.643666e+05      0.255049    18.444933     0.459020
min       1.000000  2.099862e+05      0.000000    -2.060000     2.472000
25%      12.000000  5.533501e+05      0.000000    47.460000     2.933000
50%      23.000000  9.607460e+05      0.000000    62.670000     3.445000
75%      34.000000  1.420159e+06      0.000000    74.940000     3.735000
max      45.000000  3.818686e+06      1.000000   100.140000     4.468000

               CPI  Unemployment
count  6435.000000   6435.000000
mean    171.578394      7.999151
std      39.356712      1.875885
min     126.064000      3.879000
25%     131.735000      6.891000
50%     182.616521      7.874000
75%     212.743293      8.622000
max     227.232807     14.313000
           wm_yr_wk         wday        month         year      snap_CA  \
count   1969.000000  1969.000000  1969.000000  1969.000000  1969.000000
mean   11347.086338     3.997461     6.325546  2013.288471     0.330117
std      155.277043     2.001141     3.416864     1.580198     0.470374
min    11101.000000     1.000000     1.000000  2011.000000     0.000000
25%    11219.000000     2.000000     3.000000  2012.000000     0.000000
50%    11337.000000     4.000000     6.000000  2013.000000     0.000000
75%    11502.000000     6.000000     9.000000  2015.000000     1.000000
max    11621.000000     7.000000    12.000000  2016.000000     1.000000

           snap_TX      snap_WI
count  1969.000000  1969.000000
mean      0.330117     0.330117
std       0.470374     0.470374
min       0.000000     0.000000
25%       0.000000     0.000000
50%       0.000000     0.000000
75%       1.000000     1.000000
max       1.000000     1.000000
                d_1           d_2           d_3           d_4           d_5  \
count  30490.000000  30490.000000  30490.000000  30490.000000  30490.000000
mean       1.070220      1.041292      0.780026      0.833454      0.627944
std        5.126689      5.365468      3.667454      4.415141      3.379344
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max      360.000000    436.000000    207.000000    323.000000    296.000000

                d_6           d_7           d_8           d_9          d_10  \
count  30490.000000  30490.000000  30490.000000  30490.000000  30490.000000
mean       0.958052      0.918662      1.244080      1.073663      0.838701
std        4.785947      5.059495      6.617729      5.917204      4.206199
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max      314.000000    316.000000    370.000000    385.000000    353.000000

       ...        d_1904        d_1905        d_1906        d_1907  \
count  ...  30490.000000  30490.000000  30490.000000  30490.000000
mean   ...      1.370581      1.586159      1.693670      1.248245
std    ...      3.740017      4.097191      4.359809      3.276925
min    ...      0.000000      0.000000      0.000000      0.000000
25%    ...      0.000000      0.000000      0.000000      0.000000
50%    ...      0.000000      0.000000      0.000000      0.000000
75%    ...      1.000000      2.000000      2.000000      1.000000
max    ...    129.000000    160.000000    204.000000     98.000000

             d_1908        d_1909        d_1910        d_1911        d_1912  \
count  30490.000000  30490.000000  30490.000000  30490.000000  30490.000000
mean       1.232207      1.159167      1.149000      1.328862      1.605838
std        3.125471      2.876026      2.950364      3.358012      4.089422
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        1.000000      1.000000      1.000000      1.000000      2.000000
max      100.000000     88.000000     77.000000    141.000000    171.000000

             d_1913
count  30490.000000
mean       1.633158
std        3.812248
min        0.000000
25%        0.000000
50%        0.000000
75%        2.000000
max      130.000000

[8 rows x 1913 columns]
           wm_yr_wk    sell_price
count  6.841121e+06  6.841121e+06
mean   1.138294e+04  4.410952e+00
std    1.486100e+02  3.408814e+00
min    1.110100e+04  1.000000e-02
25%    1.124700e+04  2.180000e+00
50%    1.141100e+04  3.470000e+00
75%    1.151700e+04  5.840000e+00
max    1.162100e+04  1.073200e+02
            F1       F2       F3       F4       F5       F6       F7       F8  \
count  60980.0  60980.0  60980.0  60980.0  60980.0  60980.0  60980.0  60980.0
mean       0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
std        0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
min        0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
25%        0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
50%        0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
75%        0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
max        0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0

            F9      F10  ...      F19      F20      F21      F22      F23  \
count  60980.0  60980.0  ...  60980.0  60980.0  60980.0  60980.0  60980.0
mean       0.0      0.0  ...      0.0      0.0      0.0      0.0      0.0
std        0.0      0.0  ...      0.0      0.0      0.0      0.0      0.0
min        0.0      0.0  ...      0.0      0.0      0.0      0.0      0.0
25%        0.0      0.0  ...      0.0      0.0      0.0      0.0      0.0
50%        0.0      0.0  ...      0.0      0.0      0.0      0.0      0.0
75%        0.0      0.0  ...      0.0      0.0      0.0      0.0      0.0
max        0.0      0.0  ...      0.0      0.0      0.0      0.0      0.0

           F24      F25      F26      F27      F28
count  60980.0  60980.0  60980.0  60980.0  60980.0
mean       0.0      0.0      0.0      0.0      0.0
std        0.0      0.0      0.0      0.0      0.0
min        0.0      0.0      0.0      0.0      0.0
25%        0.0      0.0      0.0      0.0      0.0
50%        0.0      0.0      0.0      0.0      0.0
75%        0.0      0.0      0.0      0.0      0.0
max        0.0      0.0      0.0      0.0      0.0

[8 rows x 28 columns]
                d_1           d_2           d_3           d_4           d_5  \
count  30490.000000  30490.000000  30490.000000  30490.000000  30490.000000
mean       1.070220      1.041292      0.780026      0.833454      0.627944
std        5.126689      5.365468      3.667454      4.415141      3.379344
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max      360.000000    436.000000    207.000000    323.000000    296.000000

                d_6           d_7           d_8           d_9          d_10  \
count  30490.000000  30490.000000  30490.000000  30490.000000  30490.000000
mean       0.958052      0.918662      1.244080      1.073663      0.838701
std        4.785947      5.059495      6.617729      5.917204      4.206199
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max      314.000000    316.000000    370.000000    385.000000    353.000000

       ...        d_1932        d_1933        d_1934        d_1935  \
count  ...  30490.000000  30490.000000  30490.000000  30490.000000
mean   ...      1.445490      1.781174      1.965267      1.389374
std    ...      3.656824      4.426550      4.706284      3.313292
min    ...      0.000000      0.000000      0.000000      0.000000
25%    ...      0.000000      0.000000      0.000000      0.000000
50%    ...      0.000000      1.000000      1.000000      0.000000
75%    ...      2.000000      2.000000      2.000000      2.000000
max    ...    143.000000    156.000000    187.000000     98.000000

             d_1936        d_1937        d_1938        d_1939        d_1940  \
count  30490.000000  30490.000000  30490.000000  30490.000000  30490.000000
mean       1.271794      1.216661      1.212299      1.395605      1.689669
std        3.126178      3.000348      2.955910      3.514318      4.089208
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      1.000000
75%        1.000000      1.000000      1.000000      1.000000      2.000000
max       90.000000     77.000000     84.000000    110.000000    156.000000

             d_1941
count  30490.000000
mean       1.782158
std        4.284356
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max      117.000000

[8 rows x 1941 columns]

In [8]:
#-----------------DATA CLEANING------------
#Handking missing values
#1.1 Wallmart Dataset
print(walmart_data.isna().sum())

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [9]:
#1.2 Calendar Dataset
print(calendar_data.isna().sum())

date               0
wm_yr_wk           0
weekday            0
wday               0
month              0
year               0
d                  0
event_name_1    1807
event_type_1    1807
event_name_2    1964
event_type_2    1964
snap_CA            0
snap_TX            0
snap_WI            0
dtype: int64

In [10]:
total_rows = calendar_data.shape[0]
missing_rows = calendar_data[['event_name_1', 'event_type_1', 'event_name_2', 'event_type_2']].isna().any(axis=1).sum()
percentage_missing = (missing_rows / total_rows) * 100

print(f"Percentage of rows with missing values: {percentage_missing:.2f}%")

Percentage of rows with missing values: 99.75%

In [11]:
calendar_data['event_name_1'].fillna('Unknown', inplace=True)
calendar_data['event_type_1'].fillna('Unknown', inplace=True)
calendar_data['event_name_2'].fillna('Unknown', inplace=True)
calendar_data['event_type_2'].fillna('Unknown', inplace=True)

print(calendar_data.isna().sum())

date            0
wm_yr_wk        0
weekday         0
wday            0
month           0
year            0
d               0
event_name_1    0
event_type_1    0
event_name_2    0
event_type_2    0
snap_CA         0
snap_TX         0
snap_WI         0
dtype: int64

C:\Users\Asus\AppData\Local\Temp\ipykernel_16000\1886594961.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  calendar_data['event_name_1'].fillna('Unknown', inplace=True)
C:\Users\Asus\AppData\Local\Temp\ipykernel_16000\1886594961.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  calendar_data['event_type_1'].fillna('Unknown', inplace=True)
C:\Users\Asus\AppData\Local\Temp\ipykernel_16000\1886594961.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  calendar_data['event_name_2'].fillna('Unknown', inplace=True)
C:\Users\Asus\AppData\Local\Temp\ipykernel_16000\1886594961.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  calendar_data['event_type_2'].fillna('Unknown', inplace=True)

In [12]:
#1.3 Sales Data
print(sales_data.isna().sum())

id          0
item_id     0
dept_id     0
cat_id      0
store_id    0
           ..
d_1909      0
d_1910      0
d_1911      0
d_1912      0
d_1913      0
Length: 1919, dtype: int64

In [13]:
sales_data.fillna(0, inplace=True)

In [14]:
#1.4 Prices Dataset
print(prices_data.isna().sum())

store_id      0
item_id       0
wm_yr_wk      0
sell_price    0
dtype: int64

In [15]:
prices_data['sell_price'].fillna(method='ffill', inplace=True)

C:\Users\Asus\AppData\Local\Temp\ipykernel_16000\68634119.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  prices_data['sell_price'].fillna(method='ffill', inplace=True)
C:\Users\Asus\AppData\Local\Temp\ipykernel_16000\68634119.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  prices_data['sell_price'].fillna(method='ffill', inplace=True)

In [16]:
prices_data.dropna(subset=['wm_yr_wk'])
prices_data['wm_yr_wk'].fillna(method='ffill', inplace=True)

C:\Users\Asus\AppData\Local\Temp\ipykernel_16000\1671468357.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  prices_data['wm_yr_wk'].fillna(method='ffill', inplace=True)
C:\Users\Asus\AppData\Local\Temp\ipykernel_16000\1671468357.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  prices_data['wm_yr_wk'].fillna(method='ffill', inplace=True)

In [17]:
#1.5 Sample Dataset
print(sample_data.isna().sum())

id     0
F1     0
F2     0
F3     0
F4     0
F5     0
F6     0
F7     0
F8     0
F9     0
F10    0
F11    0
F12    0
F13    0
F14    0
F15    0
F16    0
F17    0
F18    0
F19    0
F20    0
F21    0
F22    0
F23    0
F24    0
F25    0
F26    0
F27    0
F28    0
dtype: int64

In [18]:
#1.6 Sales Evaluation Dataset
print(sales_eval_data.isna().sum())

id          0
item_id     0
dept_id     0
cat_id      0
store_id    0
           ..
d_1937      0
d_1938      0
d_1939      0
d_1940      0
d_1941      0
Length: 1947, dtype: int64

In [19]:
sales_eval_data.fillna(0, inplace=True)

In [ ]:
#2 -----------------------Removing Duplicates-------------------

In [20]:
#2.1 Walmart Data
print("Walmart Data Duplicates:")
print(f"Rows: {walmart_data[walmart_data.duplicated()].shape[0]}")
print(f"Columns: {walmart_data.columns[walmart_data.columns.duplicated()].tolist()}")

#2.2 Calendar Data
print("\nCalendar Data Duplicates:")
print(f"Rows: {calendar_data[calendar_data.duplicated()].shape[0]}")
print(f"Columns: {calendar_data.columns[calendar_data.columns.duplicated()].tolist()}")

#2.3 Sales Data
print("\nSales Data Duplicates:")
print(f"Rows: {sales_data[sales_data.duplicated()].shape[0]}")
print(f"Columns: {sales_data.columns[sales_data.columns.duplicated()].tolist()}")

#2.4 Prices Data
print("\nPrices Data Duplicates:")
print(f"Rows: {prices_data[prices_data.duplicated()].shape[0]}")
print(f"Columns: {prices_data.columns[prices_data.columns.duplicated()].tolist()}")

#2.5 Sample Data
print("\nSample Data Duplicates:")
print(f"Rows: {sample_data[sample_data.duplicated()].shape[0]}")
print(f"Columns: {sample_data.columns[sample_data.columns.duplicated()].tolist()}")

#2.6 Sales Evaluation Data
print("\nSales Evaluation Data Duplicates:")
print(f"Rows: {sales_eval_data[sales_eval_data.duplicated()].shape[0]}")
print(f"Columns: {sales_eval_data.columns[sales_eval_data.columns.duplicated()].tolist()}")

Walmart Data Duplicates:
Rows: 0
Columns: []

Calendar Data Duplicates:
Rows: 0
Columns: []

Sales Data Duplicates:
Rows: 0
Columns: []

Prices Data Duplicates:
Rows: 0
Columns: []

Sample Data Duplicates:
Rows: 0
Columns: []

Sales Evaluation Data Duplicates:
Rows: 0
Columns: []

In [ ]:
#--------------------------------Data Preprocessing and Integration-----------------------

In [ ]:
#1 Preprocessing

In [21]:
#1.1 Walmart Data
#date to datetime format
walmart_data['Date'] = pd.to_datetime(walmart_data['Date'], dayfirst=True)

walmart_data.rename(columns={'Store': 'store_id'}, inplace=True)

In [22]:
#1.2 Calendar Data
calendar_data['date'] = pd.to_datetime(calendar_data['date'])
calendar_data = calendar_data[['date', 'wm_yr_wk']]
columns_to_drop = ['event_name_2', 'event_type_2']
calendar_data.drop(columns=[col for col in columns_to_drop if col in calendar_data.columns], inplace=True)

print(calendar_data.head())

        date  wm_yr_wk
0 2011-01-29     11101
1 2011-01-30     11101
2 2011-01-31     11101
3 2011-02-01     11101
4 2011-02-02     11101

In [23]:
#1.3 Sales Data
#restructured dataset
sales_data_long = sales_data.melt(
    id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'],
    var_name='day',
    value_name='sales'
)

In [24]:
#Sales and calendar
sales_data_long['day'] = sales_data_long['day'].astype(str).str.replace('d_', '').astype(int)

sales_data_long = sales_data_long.merge(calendar_data.reset_index(), left_on='day', right_index=True, how='left')
sales_data_long = sales_data_long.merge(calendar_data, on='date', how='left')

sales_data_long.drop(columns=['day'], inplace=True)
print(sales_data_long.head())

                              id        item_id    dept_id   cat_id store_id  \
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id  sales  index       date  wm_yr_wk_x  wm_yr_wk_y
0       CA      0      1 2011-01-30       11101       11101
1       CA      0      1 2011-01-30       11101       11101
2       CA      0      1 2011-01-30       11101       11101
3       CA      0      1 2011-01-30       11101       11101
4       CA      0      1 2011-01-30       11101       11101

In [25]:
print(sales_data_long.columns)
print(prices_data.columns)

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'sales',
       'index', 'date', 'wm_yr_wk_x', 'wm_yr_wk_y'],
      dtype='object')
Index(['store_id', 'item_id', 'wm_yr_wk', 'sell_price'], dtype='object')

In [26]:
print(sales_data_long[['wm_yr_wk_x', 'wm_yr_wk_y']].drop_duplicates().head())

        wm_yr_wk_x  wm_yr_wk_y
0            11101       11101
182940       11102       11102
396370       11103       11103
609800       11104       11104
823230       11105       11105

In [27]:
sales_data_long.rename(columns={'wm_yr_wk_x': 'wm_yr_wk'}, inplace=True)

In [28]:
# Merging prices and sales_data_long
merged_data = sales_data_long.merge(prices_data, 
                                     on=['store_id', 'item_id', 'wm_yr_wk'], 
                                     how='left')

print(merged_data.head())
print(merged_data.shape)

                              id        item_id    dept_id   cat_id store_id  \
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id  sales  index       date  wm_yr_wk  wm_yr_wk_y  sell_price
0       CA      0      1 2011-01-30     11101       11101         NaN
1       CA      0      1 2011-01-30     11101       11101         NaN
2       CA      0      1 2011-01-30     11101       11101         NaN
3       CA      0      1 2011-01-30     11101       11101         NaN
4       CA      0      1 2011-01-30     11101       11101         NaN
(58327370, 12)

In [29]:
print(walmart_data.head())
print(walmart_data.columns)
print(merged_data.dtypes)
print(walmart_data.dtypes)

   store_id       Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0         1 2010-02-05    1643690.90             0        42.31       2.572
1         1 2010-02-12    1641957.44             1        38.51       2.548
2         1 2010-02-19    1611968.17             0        39.93       2.514
3         1 2010-02-26    1409727.59             0        46.63       2.561
4         1 2010-03-05    1554806.68             0        46.50       2.625

          CPI  Unemployment
0  211.096358         8.106
1  211.242170         8.106
2  211.289143         8.106
3  211.319643         8.106
4  211.350143         8.106
Index(['store_id', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')
id                    object
item_id               object
dept_id               object
cat_id                object
store_id              object
state_id              object
sales                  int64
index                  int64
date          datetime64[ns]
wm_yr_wk               int64
wm_yr_wk_y             int64
sell_price           float64
dtype: object
store_id                 int64
Date            datetime64[ns]
Weekly_Sales           float64
Holiday_Flag             int64
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
dtype: object

In [30]:
print(merged_data['store_id'].unique())

['CA_1' 'CA_2' 'CA_3' 'CA_4' 'TX_1' 'TX_2' 'TX_3' 'WI_1' 'WI_2' 'WI_3']

In [31]:
walmart_data['store_id'] = walmart_data['store_id'].astype(str)

print(walmart_data.dtypes)

store_id                object
Date            datetime64[ns]
Weekly_Sales           float64
Holiday_Flag             int64
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
dtype: object

In [32]:

def process_in_chunks(df, chunk_size, func, *args, **kwargs):
    start = 0
    end = chunk_size
    while start < len(df):
        chunk = df.iloc[start:end]
        func(chunk, *args, **kwargs)
        start += chunk_size
        end += chunk_size

def merge_and_append(chunk, prices_data, output_path, header_written):
    merged_chunk = chunk.merge(prices_data, on=['store_id', 'item_id', 'wm_yr_wk'], how='left')
    if not header_written[0]:
        merged_chunk.to_csv(output_path, index=False)
        header_written[0] = True
    else:
        merged_chunk.to_csv(output_path, mode='a', header=False, index=False)


chunk_size = 100000 

output_path = 'merged_data.csv'

header_written = [False]

process_in_chunks(sales_data_long, chunk_size, merge_and_append, prices_data, output_path, header_written)

print("Merging complete. Merged data saved to", output_path)

Merging complete. Merged data saved to merged_data.csv

In [2]:
import pandas as pd

In [3]:

merged_data_path = 'D:/Woodpecker2024/merged_data.csv'

In [4]:
chunk_size = 100000 

output_path = 'cleaned_merged_data.csv'

header_written = False

for chunk in pd.read_csv(merged_data_path, chunksize=chunk_size):
    
    cleaned_chunk = chunk.dropna()
    
    if not header_written:
        cleaned_chunk.to_csv(output_path, index=False)
        header_written = True
    else:
        cleaned_chunk.to_csv(output_path, mode='a', header=False, index=False)

print(f"Cleaned data saved to {output_path}")

Cleaned data saved to cleaned_merged_data.csv

In [6]:

chunk_size = 100000

In [8]:
merged_data_path = 'D:/Woodpecker2024/cleaned_merged_data.csv'

output_path = 'cleaned_merged_data222.csv'

header_written = False

for chunk in pd.read_csv(merged_data_path, chunksize=chunk_size):
    
    chunk = chunk.dropna()
    
    chunk = chunk.drop_duplicates()
    
    # Convert date column to datetime format
    chunk['date'] = pd.to_datetime(chunk['date'], format='%m/%d/%Y', errors='coerce')
    
    # Ensure numerical columns have the correct type
    chunk['sales'] = pd.to_numeric(chunk['sales'], errors='coerce')
    chunk['index'] = pd.to_numeric(chunk['index'], errors='coerce')
    chunk['sell_price'] = pd.to_numeric(chunk['sell_price'], errors='coerce')
    
    # Append the cleaned chunk to the output CSV file
    if not header_written:
        chunk.to_csv(output_path, index=False)
        header_written = True
    else:
        chunk.to_csv(output_path, mode='a', header=False, index=False)

print(f"Cleaned data saved to {output_path}")

Cleaned data saved to cleaned_merged_data222.csv